* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Clean font */
    box-sizing: border-box;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border:1px solid black;;
}
.Logo{
    height:90px;
}
.nav-items ul li{
    list-style: none;
    padding: 10px;
    margin:10px;
}
.nav-items  ul{
    display:flex;
    padding: 0px 20px;
}
.restitle, .cuisines, .resrating, .resDelivery{
    margin: 10px 0px;
     
}
.restitle{
   font-size: medium;
   font-weight: bolder;
}
.cuisines{
    color: rgb(135, 133, 133);
     white-space: nowrap;     
  overflow: hidden;         
  text-overflow: ellipsis; 
  width: 250px;
}
.res-card{
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    border: 1px solid transparent; 
    transition: transform 0.3s ease-in-out;
}
.res-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.Search{
    padding: 10px;
}
.res-logo{
    height: 200px; 
    width: 100%;
    border-radius: 12.5%;
}
.res-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; 
    padding: 20px;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.filter{
    display: flex;
    align-items: center;
}
.shimmer-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; 
    padding: 20px;
}


.shimmer-card {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    border: 1px solid transparent; 
}


.shimmer-img {
    height: 200px; 
    width: 100%;
    border-radius: 12.5%; 
    background-color: #e0e0e0; 
}


.shimmer-line {
    height: 15px; 
    background-color: #e0e0e0;
    margin: 10px 0px; 
    border-radius: 4px;
}

.shimmer-line.title {
    width: 60%; 
    height: 20px;
}

.shimmer-line.subtitle {
    width: 80%;
}