.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border:1px solid black;;
}
.Logo{
    height:90px;
}
.nav-items ul li{
    list-style: none;
    padding: 10px;
    margin:10px;
}
.nav-items  ul{
    display:flex;
    padding: 0px 20px;
}

.res-card{
    padding: 5px;
    width:200px;
    height:450px;
    margin: 10px;
}
.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}
.Search{
    padding: 10px;
}
.res-logo{
    width:95%;
    padding:5px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}